<html>
	<head>
	<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		
		<link rel="stylesheet" type="text/css" href= {{ url_for('static',filename='style.css') }}>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title> Face Thy Tweet </title>
		</head>
<body>
	<div class="containter">
	
	<div class="row row-centered">
	    <div class="col-md-12">
		<h1 class="title-style"> You Are What You Tweet.</h1>
		</div>
		<div id = "top-buffer" class="center-block col-md-4" style="float:none;">
		<form action="/result" method="POST">
    <input placeholder = "Enter your twitter handle..." type="text" name="twitter-handle" class="form-control input-field shadow" id="twitter">
    </form>
  </div>
  

  </div>

	</div>
	<footer class="footer">
	<div class="containter">
	<p>Made with <3 by LotusBee </p>
	</div>

</body>
</html>