@media (min-width: 0) and (max-width: 640px) {
    body h1 {
    	color:white; font-weight:900; font-size: 30px;
}
body .input-field {
	width: 250px;
    }

 body ::-webkit-input-placeholder {
   font-size: 25px;
}

body :-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

body ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/* Overriding styles */

body ::-webkit-input-placeholder {
   font-size: 15px!important;
   font-family: Lato!important;
}

body :-moz-placeholder { /* Firefox 18- */
      font-size: 15px!important;
      font-family: Lato!important;
}
body ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 15px!important;
      font-family: Lato!important;
}


/* enable absolute positioning */
body .inner-addon { 
    position: relative; 
}

/* style icon */
body .inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
body .right-addon .glyphicon { right: 0px; font-size: 20px;}

/* add padding  */
body .right-addon input { padding-right: 30px; }



}





body {
	background:radial-gradient(circle, #5497D1,#09AFED);

}
* {
    box-sizing: border-box;
}
h1{
	color:white; font-weight:900; font-size: 50px;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.force-to-bottom {
    position:absolute;
    bottom: 50%;
}

#top-buffer { 
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.title-style{
	margin-top: 100;
}

.input-field{

height:60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.element {
  .center-block();
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}






::-webkit-input-placeholder {
   font-size: 25px;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/* Overriding styles */

::-webkit-input-placeholder {
   font-size: 20px!important;
   font-family: Lato!important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 20px!important;
      font-family: Lato!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px!important;
      font-family: Lato!important;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px; font-size: 25px;}

/* add padding  */
.right-addon input { padding-right: 30px; }


