body {
	background-color: #09AFED;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.force-to-bottom {
    position:absolute;
    bottom: 50%;
}



.element {
  .center-block();
}
