@media (min-width: 0) and (max-width: 640px) {
	body {
		overflow: auto;
	}
    body h1 {
    	color:white; font-weight:900; font-size: 30px;
}
body .input-field {
	width: 250px;
    }

 body ::-webkit-input-placeholder {
   font-size: 25px;
}

body :-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

body ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/* Overriding styles */

body ::-webkit-input-placeholder {
   font-size: 15px!important;
   font-family: Lato!important;
}

body :-moz-placeholder { /* Firefox 18- */
      font-size: 15px!important;
      font-family: Lato!important;
}
body ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 15px!important;
      font-family: Lato!important;
}


/* enable absolute positioning */
body .inner-addon { 
    position: relative; 
}

/* style icon */
body .inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
body .right-addon .glyphicon { right: 0px; font-size: 20px;}

/* add padding  */
body .right-addon input { padding-right: 30px; }

body .boxed {
  border: 5px solid white;
  width: 80%;
  margin: 9%;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

body .profile-img {
	border: 5px solid white;
	height: 200px;
	width: 200px;
	display: block;
	margin: auto;
	margin-top: 10%;
}

body .profile-name {
	color:white;
	font-weight:bold;
	font-size:20px;
	margin-left:20%;
}
body .profile-handle {
	color:white;
	font-size:20px;
	margin-left:20%;

}

body .tweet-content {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	margin-top: 15%;

}

body .tweeple {
	border: 8px solid white;
	width: 50%;
	height: 200px;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

body .how-it-works {
	color: white;
	font-family: Lato;
	font-size: medium;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 5%;
}


}





body {
	background:radial-gradient(circle, #5497D1,#09AFED);
	overflow: auto;

}
* {
    box-sizing: border-box;
}
h1{
	color:white; font-weight:900; font-size: 50px;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.force-to-bottom {
    position:absolute;
    bottom: 50%;
}

#top-buffer { 
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.title-style{
	margin-top: 100;
}

.input-field{

height:60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}



.element {
  .center-block();
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}






::-webkit-input-placeholder {
   font-size: 25px;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/* Overriding styles */

::-webkit-input-placeholder {
   font-size: 20px!important;
   font-family: Lato!important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 20px!important;
      font-family: Lato!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px!important;
      font-family: Lato!important;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px; font-size: 25px;}

/* add padding  */
.right-addon input { padding-right: 30px; }




/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}







/* STYLE FOR RESULTS PAGE */
.boxed {
  border: 8px solid white;
  width: 80%;
  margin: 10%;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profile-img {
	border: 5px solid white;
	height: 200px;
	width: 200px;
	margin-top:5%;
	margin-left: 5%;
}

.profile-name {
	color:white;
	font-weight:bold;
	font-size:20px;
	margin:auto;
	margin-left:5%;
}

.profile-handle {
	color:white;
	font-size:20px;
	margin-left: 10%;
}

.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}

.tweet-content {
	color: white;
	margin-top:-27%;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
}

.how-it-works {
	color: white;
	font-family: Lato;
	font-size: large;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 12%;
}

.tweeple {
	border: 8px solid white;
	width: 50%;
	height: 200px;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


